<style>
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

</style>


<table>
  <thead>
    <tr>
      <th>Калорії</th>
      <th>Білки</th>
      <th>Жири</th>
      <th>Вуглеводи</th>
      <th>Вода</th>
      <th>Розклад</th>
    </tr>
  </thead>
<tbody>
  <tr>
    <td>{{calories}}</td>
    <td>{{proteins}}</td>
    <td>{{fats}}</td>
    <td>{{carbs}}</td>
    <td>{{water}}</td>
    <td>{{schedule}}</td>
  </tr>
</tbody>
</table>
