<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Project</title>
</head>

<body>
  <header>
    <div class="header">
      <div><img src="/logo.svg" alt="" width="200px" height="auto"></div>
    </div>
  </header>
  <main>
    <div class="form-style-5 intro">
      <div class="intro-text">
        <p>Привіт. Це CALORIO - ресурс, що турбується про тебе. <br> і допоможе тобі харчуватись правильно. </p>
        </p> Тут ти знайдеш рецепти корисних та смачних страв з уже обчисленою калорійністю та вмісто білків, жирів та
        вуглеводів</p>
      </div>
      <div style="text-align: center;">
        <a href="#go">
          <div class="go">
            <p style="margin-bottom: 0;">вперед</p>
            <div class="rotate">&#10148;</div>
          </div>
        </a>
      </div>
    </div>

    <div id="go" class="form-style-5">
      <h2>Давай обчислимо твої денні норми КБЖВ, води та складемо розклад прийомів їжі</h2>
      <form method="GET" action='/calories/calculate'>
        <fieldset>
          <legend>Введи дані для обчислення денних норм</legend>
          <div>
            <label for="age">Вік:</label>
            <input name="age" type="number" />
          </div>
          <div>
            <label for="weight">Вага</label>
            <input name="weight" type="number" />
          </div>
          <div>
            <label>Стать:</label>
            <select name="sex">
              <option value="man">Чоловіча</option>
              <option value="female">Жіноча</option>
            </select>
          </div>
          <div>
            <label for="height">Ріст</label>
            <input name="height" type="number" />
          </div>
        </fieldset>
        <fieldset>
          <legend>Введи дані для отримання розкладу прийомів їжі</legend>
          <div>
            <label for="dishCount">Кількість прийомів їжі:</label>
            <input name="dishCount" type="number" value="3" min="3" max="6" />
          </div>
          <div>
            <label for="firstDishTime">Час першого прийому їжі:</label>
            <input name="firstDishTime" type="time" />
          </div>
          <div>
            <label for="lastDishTime">Час останнього прийому їжі:</label>
            <input name="lastDishTime" type="time" />
          </div>
        </fieldset>
        <input type="submit" value="Обчислити" />
      </form>
    </div>
    <div class="recipes form-style-5">
      <h2>Рецепти</h2>
      <div>
        {{#if error}}
        <span>Error: {{error}}</span>
        {{/if}}
      </div>
      <form class="vegg-form">
        {{#if vegeterian}}
        <input name="onlyVegeterian" type="checkbox" checked onChange="this.form.submit()" />
        {{else}}
        <input name="onlyVegeterian" type="checkbox" onChange="this.form.submit()" />
        {{/if}}
        <label for="onlyVegeterian" class="vegg">Показувати лише вегетаріанські</label>
      </form>
      <ul>
        {{#each recipes}}
        <fieldset>
          <li>

            <h3>{{name}}</h3>
            <div>
              <h4>Продукти: </h4>
              {{products}}
            </div>
            <div>
              <h4>Рецепт: </h4>
              {{description}}
            </div>
            <fieldset class="admin-panel">
              <legend>Панель адімінстратора</legend>
              <form action="/delete-recipe" method="GET">
                <input name="recipeId" type="hidden" value="{{id}}" />
                <input name="secretKey" type="password" placeholder="Пароль для видалення" />
                <input type="submit" value="Видалити" />
              </form>
              <form class="admin-panel" action="/edit-recipe" method="GET">
                <input name="recipeId" type="hidden" value="{{id}}" />
                <input type="submit" value="Редагувати" target="_parent" />
            </fieldset>
        </fieldset>
        </form>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="button-container">
      <a href="/add-recipe">
        <div class="add-button">
          <p>Додати новий рецепт</p>
        </div>
      </a>
    </div>

  </main>
  <footer>
    <div class="footer">
      <div class="author">
        <p>Курсовий проект<br>студентки групи КН-305<br>Кузів Ангеліни</p>
      </div>
    </div>
  </footer>
</body>
<style>
  header,
  footer {
    background-color: #524941;
    margin: 0;
  }

  footer p {
    margin: 0;
  }

  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  div {
    margin-bottom: 0%;
  }

  body {
    background-color: #ceda00;
    margin: 0%;
    width: auto;
    height: 100%;
  }

  main {
    padding: 20px 30px 40px;
  }

  img {
    margin-left: 30px;
  }
</style>
<style type="text/css">
  .form-style-5 {
    max-width: 1000px;
    padding: 10px 20%;
    background: #fcfcfc;
    margin: 10px auto;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .form-style-5 fieldset {
    border: solid;
    border-radius: 5px;
    border-color: #7b792b;
    border-width: thin;
    margin: 6px 0px 20px;
  }

  .form-style-5 legend {
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .form-style-5 label {
    display: block;
    margin-bottom: 8px;
  }

  .form-style-5 input[type="text"],
  .form-style-5 input[type="date"],
  .form-style-5 input[type="datetime"],
  .form-style-5 input[type="email"],
  .form-style-5 input[type="number"],
  .form-style-5 input[type="search"],
  .form-style-5 input[type="time"],
  .form-style-5 input[type="url"],
  .form-style-5 textarea,
  .form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }

  .form-style-5 input[type="text"]:focus,
  .form-style-5 input[type="date"]:focus,
  .form-style-5 input[type="datetime"]:focus,
  .form-style-5 input[type="email"]:focus,
  .form-style-5 input[type="number"]:focus,
  .form-style-5 input[type="search"]:focus,
  .form-style-5 input[type="time"]:focus,
  .form-style-5 input[type="url"]:focus,
  .form-style-5 textarea:focus,
  .form-style-5 select:focus {
    background: #d2d9dd;
  }

  .form-style-5 select {
    -webkit-appearance: menulist-button;
    height: 35px;
    border-radius: 10px;
  }

  .form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px;
  }

  .form-style-5 input[type="submit"],
  .form-style-5 input[type="button"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #fcfcfc;
    margin: 0 auto;
    background: #685c52;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #2e2a27;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .form-style-5 input[type="submit"]:hover,
  .form-style-5 input[type="button"]:hover {
    background: #838a00;
  }

  .recipes input[type="submit"] {
    position: relative;
    display: inline-block;

    color: #fcfcfc;
    margin: 0 auto;
    padding: 2px;
    background: #ceda00;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    height: 20px;
    width: 100px;
    border: 1px solid #838a00;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .recipes legend,
  .admin-panel label {
    font-size: 0.7em;
  }

  ul {
    list-style: none;
  }

  .intro-text {
    margin-top: 120px;
  }

  .intro {
    min-height: 80vh;
    text-transform: uppercase;
    color: #524941;
    font-size: 24px;
    vertical-align: middle;

  }

  .go {
    position: absolute;
    left: 46%;
    bottom: 25px;
  }

  .rotate {
    transform: rotate(90deg);
  }

  a:link,
  a:visited {
    color: #524941;
  }

  a:hover {
    color: #352f2a;
  }

  label.vegg {
    display: inline-block;
  }

  form.vegg-form {
    padding-top: 15px;
  }

  .add-button {
    border-radius: 10px;
    background-color: #7b792b;
    width: 20%;
    height: auto;
    font-weight: 600;
    color: #fcfcfc;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
  }

  div.button-container {
    padding: 10px 0 10px;
    text-align: right;
  }

  .admin-panel form {
    display: inline-block;
  }

  .author {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    color: #fcfcfc;
  }
</style>

</html>