{{> start }}
    <main>
      Main section
      <div>
        {{#if error}}
          <span>Error: {{error}}</span>
        {{/if}}
      </div>
      <form>
        <label for="onlyVegeterian">Показувати лише вегетеріанський</label>
        {{#if vegeterian}}
          <input name="onlyVegeterian" type="checkbox" checked onChange="this.form.submit()" />
        {{else}}
          <input name="onlyVegeterian" type="checkbox" onChange="this.form.submit()" />
        {{/if}}
      </form>
      <ul>
        {{#each recipes}}
          <li>
            {{name}}
            <div>
              {{description}}
            </div>
            <div>
              {{products}}
            </div>
            <form action="/delete-recipe" method="GET">
              <input name="recipeId" type="hidden" value="{{id}}" />
              <input name="secretKey" type="password" />
              <input type="submit" value="Видалити" />
            </form>
            <form action="/edit-recipe" method="GET">
              <input name="recipeId" type="hidden" value="{{id}}" />
              <input type="submit" value="Редагувати" />
            </form>
          </li>
        {{/each}}
      </ul>
      <a href="/add-recipe">Go here to insert new recipe</a>
      <a href="/calculate-calories">Go here to calculate calories</a>
    </main>
    <section>
      Footer
    </section>
  </body>
</html>
